{% extends 'base.html.twig' %}

{% block title %}Bonjour HomeController!{% endblock %}

{% block body %}

    {# Section de la photo de la boutique sous la navigation #}
    <div class="container-fluid my-5"> <!-- Ajout de my-5 ici pour espacer le haut -->
        <div class="row">
            <div class="col px-4">
                <img src="{{ asset('uploads/boutique/boutique.jpg') }}" alt="Boutique" class="img-fluid mx-auto d-block" style="max-height: 1000px;">
            </div>
        </div>
    </div>

    {# Section "Qui sommes-nous?" #}
    <div class="container py-5 my-5"> <!-- Ajout de my-5 ici pour espacer cette section -->
        <div class="row">
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <img src="{{ asset('uploads/profilpicture/photo_profil.jpg') }}" alt="Profil" class="img-fluid rounded-circle" style="width: 300px;">
            </div>
            <div class="col-md-6">
                <h2>Qui sommes-nous ?</h2>
                <p>
                    Boutique de Prêt-à-porter hommes et femmes. Nous proposons une sélection de pièces jeunes et tendance. Notre équipe est composée de passionnés de mode, menée par nos gérantes passionnées Lena et Tatiana Dymak. Voici ci-dessous quelques-uns de nos meilleurs produits.
                </p>
            </div>
        </div>
    </div>

    {# Affichage des catégories à gauche et des produits à droite #}
    <div id="products-section" class="container my-5"> <!-- Ajout de my-5 ici pour espacer cette section -->
        <div class="row">
            <div class="col-md-4 mb-5"> <!-- Ajout de mb-5 pour espacer les éléments -->
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-6 mb-5"> <!-- Ajout de mb-5 pour espacer les éléments -->
                            <div class="card">
                                <a href="{{ path('app_product_show', {id : product.id })}}" class="card-link">
                                    <img src="{{ asset('/uploads/products/' ~ product.picture) }}" class="card-img-top" alt="{{ product.title }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="navigation my-5"> <!-- Ajout de my-5 ici pour espacer cette section -->
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}


{# ASYCHROME je veux que avec le select je puisse faire un choix sans recharger la page
        javascript qui communique avec php en passant par asychrome #}

{# <form>
                <select class="form-select" id="filter" name="filter">
                    <option value="ASC"> Par date croissant </option>
                    <option value="DESC"> Par date décroissant </option>
                </select>
            </form> #}
