{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block body %}
    <h1>Détails du produit</h1>

    <a href="{{ path('app_product_index') }}" class="btn btn-dark mb-3">Retour à la liste des produits</a>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{ product.title }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>{{ product.title }}</h2>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Prix:</strong> {{ product.price }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>
            {# Ajouter d'autres détails du produit si nécessaire #}

            {# Ajouter un bouton pour ajouter le produit au panier si nécessaire #}
            {# <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                <input type="submit" class="btn btn-success" value="Ajouter au panier">
            </form> #}
        </div>
    </div>
{% endblock %}
