<div class="footer bg-white">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-md-3">
                <ul>
                    <li class="fw-bold">À propos de Franouk</li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Qui sommes-nous? - Franouk" href="{{ path('app_about') }}">
                            Qui sommes-nous?
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Nos articles - Franouk" href="{{ path('app_product_index') }}">
                            Nos produits
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Contactez-nous - Franouk" href="{{ path('app_contact') }}">
                            Contactez-nous
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul>
                    <li class="fw-bold">Administration</li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="BackOffice - Franouk" href="{{ path('admin') }}">
                            BackOffice
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Blog officiel - Franouk" href="https://www.lareponsenumerique.fr">
                            Blog officiel
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul>
                    <li class="fw-bold">Informations</li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Mentions légales - Franouk" href="{{ path('app_mentions_legales') }}">
                            Mentions légales et Données Personnelles
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Politique de cookies - Franouk" href="{{ path('app_politique_cookies') }}">
                            Politique de condifentialité
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="nav-link" aria-label="Conditions générales de vente - Franouk" href="{{ path('app_cgv') }}">
                            Conditions générales de vente
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul>
                    <li class="fw-bold">SUIVEZ-NOUS</li>
                    <li class="mt-4">
                        <a class="nav-link" href="https://www.instagram.com/boutiquefranouk" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 448 512">
                                <path fill="#ff66c4" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="p-0">
        <path fill="#ff66c4" fill-opacity="1" d="M0,256L48,266.7C96,277,192,299,288,277.3C384,256,480,192,576,160C672,128,768,128,864,133.3C960,139,1056,149,1152,128C1248,107,1344,53,1392,26.7L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</div>

{# #ff66c4 #}
{# "#130431" #}